@function vw($pixels) {
    @return $pixels/(1440/100) * 1vw;
}
@function vh($pixels) {
    @return $pixels/(830/100) * 1vh;
}
body {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
}

header {
    background-color: #efecec;
    // height: vh(150);
}

.header__container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    padding: vh(25) 0;
    display: flex;
    align-items: center;
}
.logo a {
    display: inline-block;
    width: vw(206);
    height: vw(100);
}
.logo img {
    width: 100%;
    height: 100%;
}

.header__navigation {
    padding: vh(50) 0;
}
.header__menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header__menu li {
    align-self: center;
}

.header__menu a {
    display: inline-block;
    padding: vh(10) vw(45);
    line-height: vh(30);
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.header__menu a:hover {
    color: #fa4a0c;
}

.header__menu a:active {
    color: #fa4a0c;
}

.fullscreen {
    height: 90vh;
    color: #fff;
    text-align: center;
}

.fullscreen__container {
    background: #efecec url(../image/background.jpg) 50% 50% / cover no-repeat;
    padding: 10vh 15px 25vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__subtitle {
    font-size: vh(24);
}

h1 {
    font-family: "Poppins";
    font-size: vh(58);
    line-height: vh(80);
}

.header__text {
    font-size: vh(24);
    font-weight: 500;
}

.header__application {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.button {
    width: 236px;
    padding: vh(22) 0;
    color: #fff;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    position: relative;
}

.button:hover {
    background-color: #fa4a0c;
    border: none;
}

.button:active {
    top: 3px;
}

.button__playstore {
}

.button__appstore {
}

/*--------------------------Float block-------------------*/

.floatingblock {
    margin-top: -20vh;
}

.howitwork__wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 2px solid rgb(236, 236, 236);
    display: flex;
    justify-content: center;
}
.howitwork__wrap img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/*----------------------Create-----------------------*/

.create {
    padding: 70px 0 0 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.cr {
    font-family: "Poppins";
    font-size: 44px;
    font-weight: 600;
    text-align: center;
}

.create__wrap {
    display: flex;
    justify-content: center;
}

.create__image {
    width: vw(602);

    // background: url(../image/phone1.png) 0 0 / cover no-repeat;
}
.create__image img {
    width: 100%;
}

.create__step1 {
    padding: vw(250) 0 vw(150) 0;
    width: vw(568);
}

.subtitle {
    color: #fa4a0c;
    line-height: 36px;
}

.step1__subtitle {
    margin-bottom: 7px;
}

.step1__title {
    margin-bottom: 17px;
    letter-spacing: -0.8px;
}

.title {
    line-height: 57px;
    font-size: 40px;
    color: #252b42;
}

.step1__text {
}

.text {
    font-weight: 500;
    line-height: 40px;
    color: #737373;
}

/*----------------------Explore------------------*/

.explore {
}

.explore__wrap {
    display: flex;
    justify-content: center;
}

.explore__step2 {
    padding: 250px 0 150px 0;
    width: vw(568);
}

.step2__subtitle {
    margin-bottom: 7px;
}

.step2__title {
    margin-bottom: 17px;
}

.step2__text {
}

.explore__image {
    width: vw(569);
}
.explore__image img {
    width: 100%;
}

/*-----------------------checkout------------------*/

.checkout {
}

.checkout__wrap {
    display: flex;
    justify-content: center;
}

.checkout__image {
    width: vw(578);
}
.checkout__image img {
    width: 100%;
}

.checkout__step3 {
    padding: 250px 0 150px 0;
    width: vw(568);
}

.step3__subtitle {
    margin-bottom: 7px;
}

.step3__title {
    margin-bottom: 17px;
}

.step3__text {
}

/*------------------------Download----------------------*/

.download {
    background: #efecec url(../image/desktop.jpg) 50% 50% / cover no-repeat;
    padding: 130px 15px;
    text-align: center;
}

.download__title {
    margin-bottom: 10px;
    color: #fff;
}

.download__text {
    margin-bottom: 50px;
    color: #fff;
}

.download__application {
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 60px;
    width: 175px;
    padding: 16px 46px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    color: #fff;
    font-size: 16px;
}

.btn:hover {
    background-color: #fa4a0c;
    border: none;
}

.btn:active {
    top: 3px;
}

.btn__playstore {
}
.btn__appstore {
}

/*------------------------footer-----------------------*/

.footer {
    background-color: #efecec;
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
}

.footer__contant {
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__image {
    width: 206px;
    height: 100px;
}

.footer__image a {
    display: inline-block;
}
.footer__image img {
    width: 100%;
    height: 100%;
}

.footer__socialnetwork {
    width: 170px;
}

.socialnetwork {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.socialnetwork li,
.socialnetwork a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.f {
    margin: 3.5px;
}

.copyright {
    padding: 30px 0;
}

.copyright__text {
    padding: 0 10px;
    font-family: "Roboto";
    font-size: 12px;
    color: #5c5c5c;
}
@media screen and (min-width: 1440px) {
    .create__step1,
    .explore__step2,
    .checkout__step3 {
        padding: 250px 0 150px 0;
    }
    .logo {
        padding: 25px 0;
    }
    .logo a {
        width: 206px;
        height: 100px;
    }
    .header__navigation {
        padding: 50px 0;
    }
    .header__menu a {
        display: inline-block;
        padding: vh(10) 45px;
        line-height: 40px;
        font-size: 20px;
    }
}
@media screen and (max-width: 1200px) {
    .create__step1,
    .explore__step2,
    .checkout__step3 {
        padding: vw(150) 0 vw(150) 0;
    }
    .container {
        max-width: 998px;
    }
}
@media screen and (max-width: 998px) {
    body {
        font-size: 18px;
    }
    .header__subtitle {
        font-size: 18px;
    }
    h1 {
        font-size: 45px;
        line-height: 60px;
    }
    .header__text {
        font-size: 18px;
    }
    .container {
        max-width: 760px;
    }
    .cr {
        font-size: 40px;
    }
    .subtitle {
        line-height: 30px;
    }
    .title {
        line-height: 50px;
        font-size: 35px;
    }
    .text {
        line-height: 35px;
    }
    .howitwork__wrap {
        max-width: 700px;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
        line-height: 60px;
    }
    .container {
        max-width: 650px;
    }
    .title {
        line-height: 40px;
        font-size: 30px;
    }
    .footer__contant {
        padding: 20px;
    }
    .footer__socialnetwork {
        width: 150px;
    }
}
@media screen and (max-width: 650px) {
    .header__navigation {
        padding: vh(5) 0;
    }
    .header__menu {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .header__menu a {
        display: inline-block;
        padding: vh(5) vw(45);
        line-height: vh(30);
        font-size: 14px;
    }
    .header__subtitle {
        font-size: 16px;
    }
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .header__text {
        font-size: 16px;
    }
    .floatingblock {
        margin-top: -15vh;
    }
    // .logo a {
    //     width: 103px;
    //     height: 50px;
    // }
    .footer__contant {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media screen and (max-width: 550px) {
    body {
        font-size: 16px;
    }
    .header__application {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .floatingblock {
        margin-top: -5vh;
    }
    .cr {
        font-size: 25px;
    }
    .create__wrap,
    .explore__wrap,
    .checkout__wrap {
        padding: 0 15px;
        flex-direction: column;
        align-items: center;
    }
    .create__image,
    .explore__image,
    .checkout__image {
        width: 100%;
    }
    .create__step1,
    .explore__step2,
    .checkout__step3 {
        padding: 0 0 50px;
        width: 100%;
    }
    .explore__step2 {
        order: 2;
    }
    .title {
        line-height: 30px;
        font-size: 25px;
    }
    .text {
        line-height: 20px;
    }
    .download__application {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
@media screen and (max-width: 450px) {
    .floatingblock {
        margin-top: 0vh;
    }
    .header__menu {
        flex-direction: column;
    }
    .header__menu a {
        padding: vh(0) vw(45);
        line-height: vh(30);
        font-size: 12px;
    }
}
